.list-group-item
  %h6= fail_note.body
  %small= simple_format fail_note.why_answer
  .text-right
    = link_to 'Edit', edit_fail_note_path(fail_note), class: 'small'
    = link_to 'Delete', fail_note_path(fail_note), method: :delete, class: 'small'

